@model IEnumerable<puentes.Models.Estructuras>


@{
    ViewBag.Title = "DetailsTipo2";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="row " style="padding-top:2em;">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header card-outline-verde">
                <h3 class="m-b-0 text-themecolor"><i class="mdi  mdi-clipboard-outline" aria-hidden="true" style="margin-bottom:20px;"></i> Inventario Cajas Puentes </h3>
            </div>


            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EstructuraTipoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumeroRegistro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Identificacion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CarreteraId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartamentoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MunicipioId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PMS)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PKM)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnioConstruccion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogoCarreteraId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CatalogoRequisitoId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FechaRecoleccionDatos)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EstadoId)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstructuraTipoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumeroRegistro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CarreteraId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartamentoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MunicipioId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PMS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PKM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnioConstruccion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogoCarreteraId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CatalogoRequisitoId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaRecoleccionDatos)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstadoId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.EstructuraId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.EstructuraId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.EstructuraId })
                        </td>
                    </tr>
                }

            </table>


            </div>
        </div>
    </div>
