@model puentes.Models.TrabajosEstandar

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TrabajosEstandar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Unidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InspeccionComponentes.Calificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InspeccionComponentes.Calificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TrabajoEstandarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
