@model puentes.Models.DTMuros

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTMuros</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MuroTipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuroTipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialTipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialTipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Espesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Espesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CimentacionTipoId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CimentacionTipoId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estructuras.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estructuras.Identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DTMuroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
