@model puentes.Models.DTLosa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTLosa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LosaInferior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LosaInferior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LosaSuperior)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LosaSuperior)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeccionTrasversa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeccionTrasversa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiseñoDeEvaluacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiseñoDeEvaluacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Espesor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Espesor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MunicipioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MunicipioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estructuras.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estructuras.Identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DTLosaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
