@model IEnumerable<puentes.Models.Inspecciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoInspeccionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnioProxInsp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransitoTPDA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstacionConteo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehLivianos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehPesados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estructuras.Identificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoInspeccionId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnioProxInsp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransitoTPDA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstacionConteo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehLivianos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehPesados)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estructuras.Identificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InspeccionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InspeccionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InspeccionId })
        </td>
    </tr>
}

</table>
