@model puentes.Models.DTDetalles

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DTDetalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoBarandaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoBarandaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoDefensaId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoDefensaId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoSuperRodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoSuperRodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoJuntaExpId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoJuntaExpId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoApoyoFSoporteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoApoyoFSoporteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoApoyoMSoporteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoApoyoMSoporteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoApoyoFVigasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoApoyoFVigasId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoApoyoMVigasId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoApoyoMVigasId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estructuras.Identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estructuras.Identificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DTDetalleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
