@model IEnumerable<puentes.Models.DTDetalles>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoBarandaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoDefensaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSuperRodId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoJuntaExpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoApoyoFSoporteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoApoyoMSoporteId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoApoyoFVigasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoApoyoMVigasId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estructuras.Identificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoBarandaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoDefensaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSuperRodId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoJuntaExpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoApoyoFSoporteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoApoyoMSoporteId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoApoyoFVigasId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoApoyoMVigasId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estructuras.Identificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DTDetalleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DTDetalleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DTDetalleId })
        </td>
    </tr>
}

</table>
